<section>
    <div class="d-flex justify-content-between">
        <!-- <h4>Communities</h4> -->
        <a class="btn btn-info" routerLink="/community/create">Add New</a>
    </div>
    <br>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Community Name</th>
            <th>Description</th>
            <th width="220px">Action</th>
        </tr>
        <tr *ngFor="let element of list_communities">
            <td>{{element.id}}</td>
            <td>{{element.name}}</td>
            <td>{{element.description || "-"}}</td>
            <td>
                <!-- <a href="#" class="btn btn-warning col-6" routerLink="/community/edit/{{element.id}}">Edit</a> -->
                <img src="../../../assets/svg/edit-svgrepo-com.svg" width="32" height="32" routerLink="/community/edit/{{element.id}}" style="cursor: pointer;">
                <img src="../../../assets/svg/delete-svgrepo-com.svg" width="32" height="32" (click)="delete_community(element.id)" style="cursor: pointer; margin-left: 2%;">
            </td>
        </tr>
    </table>
</section>