<div class="container" style="padding:20px;">
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/customer']" routerLinkActive="active" aria-current="page" href="/customer/index">
                <img src="../assets/svg/user-8-svgrepo-com.svg" width="24" height="24">CUSTOMERS
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/seller']" routerLinkActive="active" href="/seller/index">
                <img src="../assets/svg/flag-triagle-svgrepo-com.svg" width="24" height="24">SELLERS
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/task']" routerLinkActive="active" href="/task/index">
                <img src="../assets/svg/desk-lamp-svgrepo-com.svg" width="24" height="24">TASKS
            </a>
        </li>
        <li class="nav-item">
            <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">COMMUNITIES</a> -->
            <a class="nav-link" [routerLink]="['/community']" routerLinkActive="active" href="/community/index">
                <img src="../assets/svg/ungroup-svgrepo-com.svg" width="24" height="24">COMMUNITIES
            </a>
        </li>
    </ul>

    <main>
        <router-outlet></router-outlet>
    </main>
</div>