<section>
    <div class="d-flex justify-content-between">
        <!-- <h4>Sellers</h4> -->
        <a class="btn btn-info" routerLink="/seller/create">Add New</a>
    </div>
    <br>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Gender</th>
            <th>Member Since</th>
            <th width="220px">Action</th>
        </tr>
        <tr *ngFor="let element of list_sellers">
            <td>{{element?.id}}</td>
            <td>{{element?.full_name}}</td>
            <td>{{element?.country}}</td>
            <td>{{element?.city}}</td>
            <td>{{element?.gender}}</td>
            <td>{{element?.created_at_str}}</td>
            <td>
                <img src="../../../assets/svg/edit-svgrepo-com.svg" width="32" height="32" routerLink="/seller/edit/{{element.id}}" style="cursor: pointer;">
                <img src="../../../assets/svg/delete-svgrepo-com.svg" width="32" height="32" (click)="delete_seller(element.id)" style="cursor: pointer; margin-left: 2%;">
            </td>
        </tr>
    </table>
</section>