@font-face {
    font-family: "CenturyGothic";
    src: local("CenturyGothic"), url(./assets/fonts/CenturyGothic.ttf) format("truetype");
}

* {
    font-family: "CenturyGothic", Arial, Helvetica, sans-serif;
    font-size: 20px;
}