<section>
    <div class="d-flex justify-content-between">
        <!-- <h4>Customers</h4> -->
        <a class="btn btn-info" routerLink="/customer/create">Add New</a>
    </div>
    <br>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Gender</th>
            <th>Member Since</th>
            <th width="220px">Action</th>
        </tr>
        <tr *ngFor="let element of list_customers">
            <td>{{element?.id}}</td>
            <td>{{element?.full_name}}</td>
            <td>{{element?.country}}</td>
            <td>{{element?.city}}</td>
            <td>{{element?.gender}}</td>
            <td>{{element?.created_at_str}}</td>
            <td>
                <!-- <a href="#" routerLink="['/customer/','edit',element.id]" class="btn btn-primary">Edit</a> -->
                <img src="../../../assets/svg/edit-svgrepo-com.svg" width="32" height="32" routerLink="/customer/edit/{{element.id}}" style="cursor: pointer;">
                <img src="../../../assets/svg/delete-svgrepo-com.svg" width="32" height="32" (click)="delete_customer(element.id)" style="cursor: pointer; margin-left: 2%;">
            </td>
        </tr>
    </table>
</section>